@media only screen and (max-width: 750px) {
    body {
      margin: 0;
      background-color: transparent;
    }
    .container {
        padding: 0%;
        width: 100%;
    }
    img{
        border-radius: 0;
    }
    .dish,
    .Prep-time,
    .ingredients,
    .instructions,
    .nutrition{
        margin: 0 50px;
    }
}  